* {
    font-family: Arial;
}

body {
    background-color: darkgray;
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

p {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: .875em;
}

.social {
    text-align: center;
}

.navigation {
    text-align: center;
    font-size: 16px;
}