* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    background: #66b1fb;
}

a {
  text-decoration: none;
  color: #003366;
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h1 div {
    position: relative;
}

h3 {
    color: black;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

h3 div {
  position: relative;
}

p {
    color: black;
    font-size: 25px;
    text-align: center;
    position: relative;
}

img {
  position: relative;
}

.JohnPicture {
  position: relative;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.social {
    text-align: center;
    margin-top: 15px;
}

.social div {
  position: relative;
}

.skills {
	text-align: center;
	margin-top: 15px;
}

.navigation {
    text-align: center;
    font-size: 24px;
    position: relative;
}

.name {
    margin-top: 210px;
}

.profileText {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 400px;
    margin-left: 50px;
}

.profileText div {
    position: relative;
}


  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: 150px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: 50px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -50px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -150px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -250px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }


.column {
  display:inline-block;
  width: 5%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.columnSkills {
	display: inline-block;
	width: 15%;
	padding: 5px;
}

.columnProfile {
  display: inline-block;
  width: 45%;
  padding: 5px;
}

.columnProjects {
  width: 40%;
  padding: 5px;
}
.skills img {
  transition: transform .3s; /* Animation */
  margin: 0 auto;
}

.skills img:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.carousel {
  max-width: relative;
  position: relative;
  margin: auto;
}

.myCarousel {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -16px;
  padding: 40px;
  color: #003366;
  font-weight: bold;
  font-size: 80px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 2%;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carousel div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel div p {
 font-size: 20px;
 margin-left: 20%;
 margin-right: 20%;
}

.carousel div h1 {
  text-decoration: underline;
}

.carousel div a {
  text-align: center;
  font-size: 20px;
  margin-left: 45%;
}