* {
    font-family: Arial;
}

body {
    background-color: darkgray;
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

p {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 125px;
    margin-left: 125px;
}

.social {
    text-align: center;
}

.navigation {
    text-align: center;
    font-size: 24px;
}

.name {
    margin-top: 210px;
}

.profileText {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 400px;
    margin-left: 50px;
}